# 1.7 Introduction to Python

## 1.7.1 Declaring Variables

In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

### Type gives the datatype of the variable as the output

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type(var3)

bool

In [6]:
type(var4)

str

## 1.7.2 Conditional Statements

In [12]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

### **Add a tab before print stm to esc from in indentation error

In [14]:
x = 10
y = 12
# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

## ** Ternary operator

In [15]:
# Initialize
x = 5
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [21]:
print(isGreater)

False

## 1.7.3 Generating Sequence Numbers

In [17]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6 )

In [22]:
numbers

range(1, 6)

### ** to get help about the syntax of the function use ? after the funtion name

In [19]:
range?

## 1.7.4 Control Flow Statements

### FOR LOOP

In [23]:
# Iterate through the collection
for i in numbers:
    print (i)

1
2
3
4
5

###  WHILE LOOP

In [26]:
# Initialize the value of i as 1
i = 1
# check the value of i to check if the loop will be continued or not
while i < 5:
    print(i)
    # Increment the value of i.
    i=i+1
# print after the value of i
print('Done')

1
2
3
4
Done

## 1.7.5 Functions

### **keyword Def ,(:), return are important

In [27]:
## Int elements
def addElements(a,b):
    return a+b

In [30]:
result = addElements(2,3)
result

5

In [31]:
## Float Elements
result= addElements(2.3,4.5)
result

6.8

In [33]:
## string elements
result=addElements("python","workshop")
result

'pythonworkshop'

###  **defining the method addElements() with parameter b initialised to 4

In [41]:
def addEle( a, b = 4 ):
    return a + b
addEle(2)

6

### ** invoking the function with both parameters ( if one parameter is already initialised then this will overwrite it)

In [43]:
addEle(2,5)

7

## 1.7.6 Working with Collections

### 1.7.6.1 List  ( [ ], mutable,not unique) index starts from 0

In [45]:
## Create an empty list
emptyList = []

In [46]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [47]:
batsmen[0]

'Rohit'

### ** slicing

In [49]:
## slicing a list ( 2 not included)
batsmen[0:2]

['Rohit', 'Dhawan']

In [50]:
##accessing the last element
batsmen[-1]

'Dhoni'

### ** length of list

In [51]:
## no. of elements in the list
len(batsmen)

6

In [52]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [54]:
all=batsmen+bowlers
all

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

### ** in operator helps in finding if an item exists in the list or not

In [55]:
'Bumrah' in batsmen

False

In [57]:
'Rayudu' in batsmen

True

### ** find the index

In [58]:
#finding the index of the item in the list
all.index('Dhoni')

5

### ** reverse the list

In [62]:
all.reverse()

In [63]:
all

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

### 1.7.6.2 Tuples  ( [ ] , immutable)

In [64]:
odiDebut = ( 'Kohli', 2008 )

In [65]:
odiDebut

('Kohli', 2008)

In [66]:
odiDebut[0]

'Kohli'

### ** cannot change tuple element

In [67]:
tupl[1]=2009

NameError: name 'tupl' is not defined

### ** convetion of tuple to list

In [69]:
players=tuple(all)

In [70]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

### ++** once reversed all elements in 'all ' list it will appear reveresed in all further usage

In [72]:
all.reverse()

In [73]:
all

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [74]:
players=tuple(all)

In [75]:
players

('Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal')

### 1.7.6.3 Set     ( { }, mutable, unique, union , intersection, difference)

In [77]:
setn={6,1,1,2,4,5}

In [78]:
setn

{1, 2, 4, 5, 6}

### ** extra 1 is removed automatically and gets sorted

In [84]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj","Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [85]:
## either 2011 or 2015
wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [86]:
## both 2011 and 2015
wc2011.intersection(wc2015)

{'Dhoni', 'Kohli', 'Raina'}

In [87]:
# difference of wc2015 from wc2011
wc2015.difference(wc2011)

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

### 1.7.6.4 Dictionary     (key:value pairs, key are unique , mutable)

In [89]:
wcwin = { 1975: "West Indies",
1979: "West Indies",
1983: "India",
1987: "Australia",
1991: "Pakistan",
1996: "Srilanka",
1999: "Australia",
2003: "Australia",
2007: "Australia",
2011: "India"}

In [90]:
wcwin[1983]

'India'

### ** list all values()

In [91]:
wcwin.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

### ** find all the unique values in the list and form a set

In [93]:
set(wcwin.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

### ** add new key and value to the dictionary

In [94]:
wcwin[2015]='Australia'

In [95]:
wcwin

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

### 1.7.7 Dealing with Strings

In [98]:
string0 = 'python'
string1 = "machine learning"

In [99]:
string2 = """This is a
multiline string"""

### ** Upper case lower case

In [100]:
# Converting to upper case
string0.upper()

'PYTHON'

In [101]:
# Similarly string.lower() can be used to convert to lower case.
string0.lower()

'python'

### ** tokens seperated with space

In [103]:
tokens = string1.split(' ')
tokens

['machine', 'learning']

### 1.7.8 Functional Programming

In [104]:
intlist =[1,2,3,4,5,6,7,8,9]

In [107]:
# Create an empty list.
squarelist = []
# Loop through the intList, square every item and append to result list squareList.
for x in intlist:
    squarelist.append( pow( x, 2 ) )
print( squarelist )

[1, 4, 9, 16, 25, 36, 49, 64, 81]